// Place all the styles related to the CoachingController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-form {
  .btn{
    margin-top: 20px;
  }
}

.header {
  margin-bottom: 20px;
}

.user-question {

}

.coach-answer {

}
